body {
    background-color: #F2F4F5;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #6E6E6E;
}

i {
    color: #90C42F;
}

/* Top Navigation */
.top-nav {
    display: flex;
    position: fixed;
    transform: translateX(-50%);
    left: 50%;
    top: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #90C42F;
}

.top-nav-title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    background-color: #fff;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.10);
    width: 285px;
    border-radius: 8px;
    margin-right: 10px;
    padding: 0 20px;
    height: 45px;
}

.top-nav-btn {
    background-color: #fff;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.10);
    border: none;
    margin: 0 5px;
    width: 50px;
    height: 45px;
    border-radius: 8px;
    cursor: pointer;
}

/* Main */
main {
    margin-top: 150px;
}

.terimakasih {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1100px;
    margin: 0 auto 200px auto;
    text-align: center;
}

.terimakasih h1 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 76.29px;
    margin-bottom: 5px; 
    line-height: 110%;
    font-weight: 900;
    color: #90C42F;
}